<?xml version="1.0"?>
<launch>
	<node name="base_pre_controller" pkg="base_pre_controller" type="base_pre_controller_node" output="screen" />
	<node name="tfUm" pkg="robot_setup_tf" type="robot_setup_tf_node" output="screen" />

	<!-- node name="Hokuyo2PointCloud2" pkg="hokuyo2pointcloud" type="hokuyo2pointcloud_node" output="screen" / -->
	<!-- node name="kin2cloudin" pkg="kin2cloudin" type="kin2cloudin_node" output="screen" / --> 	
	
	<!-- include file="$(find navigation)/navigation.launch" / -->
	<!-- include file="$(find navigation)/gmapping.launch" / -->
	<include file="$(find robo)/launch/map.launch" />

	<!-- include file="$(find robo)/launch/octoveiga.launch" / -->

	<!-- node name="rviz" pkg="rviz" type="rviz" output="screen" / -->

</launch>
